[Desktop Entry]
Version=1.0
Type=Application
Name=WebStorm
Icon=/usr/share/jetbrains/webstorm-2023.2.5/bin/webstorm.svg
Exec="/usr/share/jetbrains/webstorm-2023.2.5/bin/webstorm.sh" %f
Comment=The smartest JavaScript IDE
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-webstorm
StartupNotify=true
