[Desktop Entry]
Version=1.0
Type=Application
Name=JetBrains Rider
Icon=/usr/share/jetbrains/rider-2023.3.3/bin/rider.svg
Exec="/usr/share/jetbrains/rider-2023.3.3/bin/rider.sh" %f
Comment=A cross-platform IDE for .NET
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-rider
StartupNotify=true
